# Node
node_modules/
dist/
build/
.eslintcache
*.dev.js

# Log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Whitelist
!*.keep

# Env
.env
nginx/*.pem
nginx/*.conf
nginx/*.cer
nginx/*.key
